<div class="container overflow-hidden">
    <div class="mt-5"></div>
    <div data-aos="flip-up" data-aos-delay="700" data-aos-duration="1200">
        <span class="fw-bold text-primary fs-5">
            Air<img src="../../assets/gambar/logo.png" class="rounded-pill" width="30" height="30">Plane
        </span>
    </div>
    <p class="my-3 fw-bold fs-1" data-aos="fade-right" data-aos-duration="1200">Selamat datang di AirPlane Tiket Rewards
    </p>

    <div class="container-card-rewards d-grid p-5 px-3 gap-3">
        <div class="rounded-3" data-aos="fade-down-right" data-aos-duration="1500">
            <p class="fs-4 fw-semibold">Nikmati berbagai benefit menarik</p>
            <p>Program loyalitas dari ekosistem AirPlane Tiket, tempatnya benefit menarik nungguin kamu!</p>
            <div class="card">
                <div class="card-header container-bg-transparent border-0 text-light fw-bold">Apa aja benefit dari
                    AirPlane Tiket Rewards?</div>
                <div class="card-body bg-light p-4">
                    <div class="d-flex gap-2">
                        <img src="../../assets/gambar/icon-reward-1.webp" width="30" height="30">
                        <div class="d-flex align-items-center gap-2 text-alert">
                            <p class="fw-semibold mb-0">Airport Lounge Gratis*</p>
                            <div class="alert alert-info py-1">Airplane.com</div>
                        </div>
                    </div>
                    <div class="d-flex gap-2">
                        <img src="../../assets/gambar/icon-reward-2.webp" width="30" height="30">
                        <div class="d-flex align-items-center gap-2 text-alert">
                            <p class="fw-semibold mb-0">Diskon Hotel Hingga 15%*</p>
                            <div class="alert alert-info py-1">Airplane.com</div>
                        </div>
                    </div>
                    <div class="d-flex gap-2 ">
                        <img src="../../assets/gambar/icon-reward-3.webp" width="30" height="30">
                        <div class="d-flex align-items-center gap-2 text-alert">
                            <p class="fw-semibold mb-0">Poin Bonus Ulang Tahun</p>
                            <div class="alert alert-info py-1">Airplane.com</div>
                        </div>
                    </div>
                    <p class="my-3 fw-semibold">+ 11 benefit lain tersedia</p>
                </div>
            </div>
        </div>
        <div class="rounded-3" data-aos="zoom-in" data-aos-duration="1500">
            <p class="fs-4 fw-semibold">Dapetin AirPlane Tiket Points</p>
            <p>Dapetin poinnya dari transaksi dan aktivitasmu di semua aplikasi dalam ekosistem AirPlane Tiket.</p>
            <img src="../../assets/gambar/icon-ekosistem.webp" class="w-100 container">
            <div class="card">
                <div class="card-header bg-transparent border-0 text-light fw-bold text-center">Ekosistem AirPlane Tiket
                </div>
                <div class="card-body bg-light d-flex flex-nowrap gap-3 justify-content-center" style="font-size: 80%;">
                    <div>
                        <img src="../../assets/gambar/icon-tiket.webp" class="rounded-circle" width="60" height="60">
                        <p class="mb-0">Tiket.com</p>
                    </div>
                    <div>
                        <img src="../../assets/gambar/icon-blibli.webp" class="rounded-circle" width="60" height="60">
                        <p class="mb-0">blibli.com</p>
                    </div>
                    <div>
                        <img src="../../assets/gambar/icon-ranch.webp" class="rounded-circle" width="60" height="60">
                        <p class="mb-0">Ranch.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="rounded-3" data-aos="fade-down-left" data-aos-duration="1500">
            <p class="fs-4 fw-semibold">Pakai AirPlane Tiket Points kamu</p>
            <p>Poinmu bisa dipakai untuk diskon atau penukaran Deals di semua aplikasi ekosistem Blibli Tiket.</p>
            <div class="d-flex gap-2 bg-box-prize shadow-sm rounded-3 p-3" style="font-size: 91%;">
                <img src="../../assets/gambar/icon-coin.webp" width="30" height="30">
                <div>
                    <p class="mb-1"><strong>Pakai untuk dapetin diskon</strong></p>
                    <p class="mb-0">Pakai poinmu saat membayar transaksi untuk dapetin diskon sesuai jumlah poin.</p>
                </div>
            </div>
            <div class="d-flex gap-2 bg-light shadow-sm rounded-3 p-3 mt-3" style="font-size: 91%;">
                <img src="../../assets/gambar/icon-box-hadiah.webp" width="30" height="30">
                <div>
                    <p class="mb-1"><strong>Tukarkan dengan Deals</strong></p>
                    <p class="mb-0">Tukarkan poinmu dengan Deals menarik dari berbagai merchant.</p>
                </div>
            </div>
        </div>
    </div>
</div>