<div id="hero-home" class="hero-home hero-ceo-2 container p-4 pt-0 p-md-3" style="margin-top: 8rem; transform: scale(.9);">
    <img class="w-100" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="500"
        src="../../assets/gambar/profile-w-ceo.svg" alt="ceo">
    <div>
        <p class="fs-2 mt-4 card card-header border-0 rounded-3 p-5 fw-bold  position-relative" id="balon-chat-2"
            data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1000">
            <span class="text-decoration-underline"
                style="text-underline-offset: 10px; text-decoration-color: #747474 !important;"> SEKRETARIS : AIRPLANE,</span>
            Andara Fauzal J. J., Kendari. 2025.

        </p>
        <p class="fs-2 mt-3 card card-header border-0 rounded-3 p-4" data-aos="fade-down" data-aos-duration="1500"
            data-aos-delay="1000">Support terbaik CEO dalam memajukan perusahaan</p>
    </div>
</div>