<div id="hero-home" class="container p-4 pt-0 p-md-3" style="margin-top: 8rem; transform: scale(.9);">
    <div>
        <p class="fs-2 mb-3 card card-header border-0 rounded-3 p-4" data-aos="fade-down" data-aos-duration="1500"
            data-aos-delay="1500">Sangat Berpengaru dan Memiliki Banyak Prestasi Untuk Perusahaan</p>
        <p class="fs-2 card card-header border-0 rounded-3 p-5 fw-bold  position-relative" id="balon-chat"
            data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1500">
            <span class="text-decoration-underline"
                style="text-underline-offset: 10px; text-decoration-color: #747474 !important;">CEO : AIRPLANE,</span>
            Ahmad Bagas A. A., Kendari. 2025.
        </p>
    </div>
    <img class="w-100" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="500"
        src="../../assets/gambar/profile-ceo.svg" alt="ceo">
</div>