<nav class="navbar navbar-expand-lg" id="navbar">
    <a href="/airplane" class="navbar-brand">
        <img src="assets/gambar/logo.png" alt="logo-brand">
        Air<span>Plane</span>

    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse justify-content-end">
        <ul class="navbar-nav d-flex">
            <li class="nav-item d-flex align-items-center justify-content-end"><a href="https://www.facebook.com/profile.php?id=100071710504179" class="nav-link fs-4 rounded-circle bg-primary text-light px-1 px-lg-2"><i class="fab fa-facebook"></i></a></li>
            <li class="nav-item d-flex align-items-center justify-content-end"><a id="instagram" href="https://www.instagram.com/ahmadadptr" class="nav-link fs-4 rounded-circle text-light px-1 px-lg-2"><i class="fab fa-instagram"></i></a></li>
            <li class="nav-item d-flex align-items-center justify-content-end"><a href="https://youtube.com/@ahmadadptr?si=0XtDLXuC5AqVT53W" class="nav-link fs-4 rounded-circle bg-danger text-light px-1 px-lg-2"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
</nav>

