<div class="container" id="fitur-lainnya">
    <div class="card border-0 p-3" data-aos="zoom-out" data-aos-duration="800" data-aos-delay="300">
        <div class="card-header-bg-transparent border-0">
            <img src="../../assets/gambar/smart-trip.webp" style="object-fit: contain;" class="w-100">
        </div>
        <div class="card-body" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500">
            <p><strong>Smart Trip</strong></p>
            <p>Dapatkan harga tiket pesawat murah untuk penerbangan pulang-pergi ke destinasi favorit Anda. Fitur Smart Trip dari tiket.com membuat Anda makin mudah menemukan kombinasi tiket pesawat online PP tanpa harus melakukan pencarian dua kali.</p>
        </div>
    </div>
    <div class="card border-0 p-3" data-aos="zoom-out" data-aos-duration="800" data-aos-delay="300">
        <div class="card-header-bg-transparent border-0">
            <img src="../../assets/gambar/simple-refund.webp" style="object-fit: contain;" class="w-100">
        </div>
        <div class="card-body"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500">
            <p><strong>Simple Refund</strong></p>
            <p>Fitur Simple Refund memungkinkan Anda untuk mendapatkan pengembalian dana dengan mudah jika melakukan pembatalan tiket pesawat online. Simple Refund dari tiket.com akan membantu Anda mendapatkan uang Anda kembali.</p>
        </div>
    </div>
    <div class="card border-0 p-3" data-aos="zoom-out" data-aos-duration="800" data-aos-delay="300">
        <div class="card-header-bg-transparent border-0">
            <img src="../../assets/gambar/simple-reschedule.webp" style="object-fit: contain;" class="w-100">
        </div>
        <div class="card-body"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500">
            <p><strong>Simple Reschedule</strong></p>
            <p>Selain bisa menjadi andalan Anda untuk melakukan pemesanan tiket pesawat murah dan tiket pesawat promo, fitur Simple Reschedule tiket.com juga bisa memudahkan Anda melakukan pengajuan reschedule untuk penerbangan pilihan Anda.</p>
        </div>
    </div>
</div>