<div class="container py-4">
    <p class="fs-3 fw-semibold">Tiket Pesawat AirPlane: Nikmati Banyak Keuntungannya!</p>
    <div class="overflow-hidden">
        <div class="overflow-y-auto card card-header p-3 rounded-3 border-0" style="height: 23vh;">
            <p>Sudah saatnya kamu merencanakan liburan yang menyenangkan! Namun, sebelum mulai memikirkan tempat tujuan
                dan
                kegiatan yang ingin dilakukan, pastikan kamu pesan tiket pesawat terlebih dahulu. Tapi tunggu dulu, ada
                cara
                yang lebih mudah untuk beli tiket pesawat online, yaitu dengan AirPlane.com! Dengan pesan tiket pesawat
                online
                di AirPlane.com, kamu akan mendapatkan banyak keuntungan yang pasti akan membuat liburan lebih
                menyenangkan dan
                bebas stres!</p>

            <p><strong>Beli Tiket Pesawat Nyaman dan Fleksibel</strong></p>

            <p>Salah satu keuntungan terbesar dari pesan tiket online adalah kenyamanan yang ditawarkan. Kamu tidak
                perlu
                lagi repot-repot pergi ke loket tiket dan mengantre panjang untuk mendapatkan tiket pesawat. Dengan
                AirPlane.com, kamu bisa beli tiket pesawat online kapan saja dan di mana saja, hanya dengan beberapa
                klik di
                komputer atau ponsel.</p>

            <p>Tidak perlu lagi meninggalkan kenyamanan rumah atau kantor untuk mendapatkan tiket pesawat impian.
                Kemudahan
                ini membuat kamu bisa merencanakan perjalanan dengan lebih fleksibel, baik saat bekerja di kantor maupun
                saat bersantai di rumah.</p>

            <p>Selain itu, AirPlane.com juga menyediakan layanan 24/7, jadi kamu bisa pesan tiket pesawat kapan saja,
                bahkan
                pada malam hari atau saat liburan. Jadi, tidak perlu khawatir jika kamu ingin pesan tiket pesawat pada
                saat-saat yang tidak biasa. AirPlane.com akan selalu siap membantu!</p>

            <p>Ketika pesan tiket pesawat online melalui AirPlane.com, kamu juga akan mendapatkan fleksibilitas dalam
                melakukan pembatalan dan perubahan jadwal pesawat. Jika ada perubahan rencana atau keadaan yang tidak
                terduga, kamu bisa dengan mudah mengubah jadwal penerbangan kamu melalui platform AirPlane.com.</p>

            <p>Kamu tidak perlu lagi repot menghubungi maskapai penerbangan atau agen perjalanan untuk melakukan
                perubahan
                tersebut. Dengan AirPlane.com, semua proses tersebut dapat dilakukan dengan cepat dan mudah, sehingga
                kamu
                dapat fokus pada perencanaan liburan kamu yang lain.</p>

            <p><strong>Harga Tiket Pesawat Murah dan Banyak Pilihan Rutenya</strong></p>

            <p>Saat beli tiket online di AirPlane.com, kamu juga akan menemukan banyak pilihan rute penerbangan. Tidak
                hanya
                itu, kamu juga dapat memilih maskapai, tanggal keberangkatan, dan waktu penerbangan yang sesuai dengan
                jadwal pesawat kamu.</p>

            <p>Dengan begitu, kamu bisa dengan mudah menyesuaikan perjalanan kamu sesuai dengan preferensi dan kebutuhan
                kamu. Jadi, apakah kamu ingin terbang ke destinasi wisata favorit di dalam negeri atau menuju destinasi
                internasional, AirPlane.com memiliki segala yang kamu butuhkan!</p>

            <p>Harga tiket pesawat seringkali menjadi salah satu pertimbangan utama ketika pesan tiket online. Dengan
                AirPlane.com, kamu bisa dengan mudah membandingkan harga tiket pesawat dari berbagai maskapai
                penerbangan.
                Dengan begitu, kamu bisa memilih tiket pesawat dengan harga yang sesuai dengan anggaran kamu.</p>

            <p>Selain itu, AirPlane.com juga sering menawarkan harga promo dan diskon menarik yang akan membuat
                perjalanan
                kamu lebih hemat dan terjangkau. Jadi, pastikan kamu selalu memeriksa penawaran terbaru di AirPlane.com
                untuk
                mendapatkan tiket pesawat dengan harga terbaik!</p>

            <p><strong>Promo Tiket Pesawat dan Poin Loyalitas</strong></p>

            <p>Cari tiket pesawat dengan harga terbaik? AirPlane.com adalah tempat yang tepat untuk kamu. AirPlane.com
                seringkali
                menawarkan berbagai promo dan penawaran menarik, seperti diskon harga tiket pesawat, pemesanan bundel
                tiket
                pesawat dan hotel, atau bahkan hadiah langsung.</p>

            <p>Dengan memanfaatkan penawaran-promo ini, kamu bisa menghemat uang kamu dan mendapatkan tiket pesawat
                dengan
                harga yang lebih terjangkau. Jadi, pastikan kamu selalu memeriksa halaman promo AirPlane.com sebelum
                pesan
                tiket pesawat online kamu!</p>

            <p>AirPlane.com juga menawarkan program poin loyalitas yang menguntungkan bagi pengguna setia berupa Plane
                Tiket
                Rewards. Setiap kali kamu beli tiket online melalui Airplane.com, kamu akan mendapatkan poin yang dapat
                ditukarkan dengan berbagai penawaran menarik, seperti diskon tiket pesawat, voucher hotel, atau bahkan
                tiket
                pesawat gratis.</p>

            <p>Semakin sering kamu menggunakan AirPlane.com, semakin banyak poin yang akan kamu dapatkan, sehingga kamu
                dapat
                menikmati manfaat yang lebih besar. Jadi, pastikan kamu memanfaatkan program poin loyalitas AirPlane.com
                untuk
                mendapatkan keuntungan lebih saat pesan tiket pesawat online di AirPlane.com!</p>

            <p><strong>Cek Tiket Pesawat Mudah dan Lengkap</strong></p>

            <p>Cek pesawat yang tersedia untuk penerbangan kamu jadi sangat mudah dengan AirPlane.com. Kamu juga bisa
                dengan
                murah lihat harga tiket pesawat sebelum membeli. Proses pemesanan tiket pesawat melalui AirPlane.com
                juga
                sangat cepat dan mudah. Kamu hanya perlu mengisi informasi penerbangan kamu, memilih opsi pembayaran,
                dan
                melakukan pembayaran melalui berbagai metode yang disediakan. Setelah itu, tiket pesawat kamu akan
                segera
                dikirimkan ke email kamu.</p>

            <p>Dengan proses yang cepat dan mudah ini, kamu tidak perlu lagi repot-repot menghabiskan waktu lama di
                loket
                tiket atau berurusan dengan proses pemesanan yang rumit. Cukup dengan beberapa klik, tiket pesawat
                impian
                kamu sudah dalam genggaman!</p>

            <p>Saat beli tiket pesawat online melalui AirPlane.com, kamu juga dapat memanfaatkan paket lengkap yang
                ditawarkan. Selain tiket pesawat, kamu juga dapat memesan hotel, sewa mobil, dan bahkan tiket masuk ke
                tempat wisata melalui AirPlane.com.</p>

            <p>Dengan memesan paket lengkap ini, kamu bisa menghemat waktu dan uang kamu, karena semua kebutuhan
                perjalanan
                kamu dapat dipenuhi dalam satu tempat. Jadi, tidak perlu lagi repot mencari-cari tempat lain,
                AirPlane.com
                adalah solusi terbaik untuk semua kebutuhan perjalanan kamu!</p>

            <p><strong>Bebas Pilih Tempat Duduk dan Check in Mudah</strong></p>

            <p>Dengan pesan tiket pesawat online melalui AirPlane.com, kamu juga dapat bebas memilih tempat duduk di
                pesawat.
                Kamu dapat memilih tempat duduk yang paling nyaman bagi kamu, seperti di sebelah jendela atau di tengah
                pesawat.</p>

            <p>Dengan begitu, kamu bisa menikmati perjalanan kamu dengan lebih nyaman dan tenang. Jadi, pastikan kamu
                memanfaatkan fitur memilih tempat duduk yang disediakan oleh AirPlane.com untuk mendapatkan pengalaman
                perjalanan yang terbaik!</p>

            <p>Dengan beli tiket online melalui AirPlane.com, kamu juga dapat melakukan proses check-in secara online.
                Kamu
                tidak perlu lagi mengantri panjang di bandara untuk melakukan check-in.</p>

            <p>Cukup dengan beberapa klik di ponsel atau komputer kamu, kamu bisa melakukan check-in dan mendapatkan
                boarding pass kamu secara elektronik. Dengan begitu, kamu bisa menghemat waktu dan tenaga kamu saat akan
                melakukan perjalanan. Proses check-in yang mudah ini akan membuat perjalanan kamu semakin lancar dan
                menyenangkan!</p>

            <p><strong>Pembayaran Tiket Pesawat Praktis dan Aman</strong></p>

            <p> AirPlane.com juga menyediakan berbagai metode pembayaran yang fleksibel untuk memudahkan kamu dalam
                melakukan
                pembayaran tiket pesawat. Kamu dapat memilih metode pembayaran yang paling nyaman bagi kamu, seperti
                transfer bank, kartu kredit, atau e-wallet.</p>

            <p>Dengan begitu, kamu bisa memilih metode pembayaran yang sesuai dengan preferensi kamu. AirPlane.com
                selalu
                berusaha untuk memberikan kemudahan dan kenyamanan bagi pengguna dalam melakukan pembayaran tiket
                pesawat
                mereka.</p>

            <p>Dalam melakukan transaksi tiket pesawat online, keamanan dan kepercayaan adalah hal yang sangat penting.
                AirPlane.com menyadari hal ini dan selalu menjaga keamanan data dan transaksi pengguna dengan ketat.
            </p>

            <p> AirPlane.com menggunakan teknologi keamanan terbaru untuk melindungi data pribadi dan keuangan pengguna.
                Jadi,
                kamu bisa dengan aman melakukan transaksi tiket pesawat kamu melalui AirPlane.com tanpa khawatir akan
                kebocoran
                data atau penipuan. Jadi, kamu bisa beli tiket pesawat online dengan tenang dan percaya diri!</p>
        </div>
    </div>

    <p class="fs-3 fw-semibold mt-5">Harga Promo Tiket Pesawat di AirPlane.com Pasti Lebih Murah!</p>
    <div class="overflow-hidden">
        <div class="overflow-y-auto card card-header p-3 rounded-3 border-0" style="height: 23vh;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti laboriosam aliquid quibusdam numquam ratione est explicabo, optio, corrupti amet officia beatae ea fugit? Labore odit est tempora atque sit inventore ipsam temporibus omnis quo corporis consectetur fugiat rerum, excepturi ratione, esse fuga. Quibusdam eaque distinctio eos laboriosam nobis aspernatur possimus nulla quisquam excepturi rerum, a nam harum sapiente, dolores, autem animi nisi quas! Nemo eaque eos sequi explicabo dolor illum assumenda autem cumque, asperiores molestiae. Ut error, neque, facilis alias laudantium saepe eos quam earum repellat, voluptatum deserunt totam deleniti. Possimus optio iste laudantium rem earum aperiam inventore fuga laborum!</p>

            <p><strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</strong></p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita corporis assumenda, illo maxime perferendis deleniti? Illum explicabo ad, veniam eveniet mollitia repellendus placeat? Illum molestiae repellendus reprehenderit laborum cumque perspiciatis ratione voluptas animi voluptatem quisquam ad sequi aliquid, corporis maxime, maiores vitae voluptates esse, incidunt alias temporibus. Sunt, ad ea?</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nihil non officia unde necessitatibus odio eaque in voluptatum repellendus aperiam.</p>

            <p><strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, impedit?</strong></p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, libero sunt quo molestias, debitis fugit autem architecto quam amet in eos omnis facere animi nostrum veniam ullam ea doloribus a cum. Odit consectetur sed beatae, sunt assumenda similique. Consequatur odio nemo vero fuga necessitatibus, eligendi doloremque architecto tenetur, a vel, natus dolorem aspernatur vitae! Animi quos dignissimos dolorem sapiente id adipisci cum laborum maiores in quo! Doloribus aliquam hic dignissimos.</p>
        </div>
    </div>

    <p class="fs-3 fw-semibold mt-5">Penting Untuk Penerbanganmu</p>
    <div class="d-block d-md-flex gap-2">
        <div class="card-refund col-12 col-md-4 bg-transparent border-0 gap-2 d-flex shadow-sm p-3">
            <img src="../../assets/gambar/cara-refund-tiket-pesawat.png" width="30" height="30">
            <div>
                <p class="fw-bold fs-6 mb-1">Cara Refund Tiket Pesawat</p>
                <p style="font-size: 80%;">Yang kamu perlu tahu tentang pengembalian uang tiket.</p>
            </div>
        </div>
        <div class="card-reschedule bg-transparent border-0 gap-2 d-flex shadow-sm p-3  col-12 col-md-4 mt-1 mt-md-0">
            <img src="../../assets/gambar/cara-reschedule-penerbangan.png" width="30" height="30">
            <div>
                <p class="fw-bold fs-6 mb-1">Cara Reschedule Penerbanga</p>
                <p style="font-size: 80%;">Cek disini untuk mengubah jadwal penerbanganmu</p>
            </div>
        </div>
        <div class="card-syarat bg-transparent border-0 gap-2 d-flex shadow-sm p-3  col-12 col-md-4 mt-1 mt-md-0">
            <img src="../../assets/gambar/persyaratan-penerbangan.png" width="30" height="30">
            <div>
                <p class="fw-bold fs-6 mb-1">Persyaratan Penerbanga</p>
                <p style="font-size: 80%;">Cek Protokol dan syarat selama di pesawat</p>
            </div>
        </div>
    </div>

    <p class="fs-3 fw-semibold mt-5 mb-2">Partner Maskapai</p>
    <p>Dengan berbagai maskapai mitra, kami siap menerbangkan Anda ke mana pun.</p>
    <div class="carousel carousel-partner slide position-relative" id="carousel-partner" dat-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-partner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-partner" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-partner" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel-partner" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carousel-partner" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carousel-partner" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carousel-partner" data-bs-slide-to="6" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="partner-container-card">
                    <img src="../../assets/gambar/maskapai-indigo.webp" />
                    <img src="../../assets/gambar/maskapai-wizz-air.webp" />
                    <img src="../../assets/gambar/maskapai-air-sarabia.webp" />
                    <img src="../../assets/gambar/maskapai-bbn-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-cebu-pacific.webp" />
                    <img src="../../assets/gambar/maskapai-spring-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-myanmar-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-jetstar.webp" />
                    <img src="../../assets/gambar/maskapai-sichuan-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-transnusa-air.webp" />
                    <img src="../../assets/gambar/maskapai-lucky-air.webp" />
                    <img src="../../assets/gambar/maskapai-skymark-airlines.webp" />

                    <img src="../../assets/gambar/maskapai-aegean-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-mandarin-arilines.webp" />
                    <img src="../../assets/gambar/maskapai-air-france.webp" />
                    <img src="../../assets/gambar/maskapai-air-canada.webp" />
                    <img src="../../assets/gambar/maskapai-finnair.webp" />
                    <img src="../../assets/gambar/maskapai-avianca.webp" />
                    <img src="../../assets/gambar/maskapai-alaska-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-america-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-air-india.webp" />
                    <img src="../../assets/gambar/maskapai-british-airways.webp" />
                    <img src="../../assets/gambar/maskapai-air-asia.webp" />
                    <img src="../../assets/gambar/maskapai-jetblue-airways-corporation.webp" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="partner-container-card">
                    <img src="../../assets/gambar/maskapai-indigo.webp" />
                    <img src="../../assets/gambar/maskapai-wizz-air.webp" />
                    <img src="../../assets/gambar/maskapai-air-sarabia.webp" />
                    <img src="../../assets/gambar/maskapai-bbn-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-cebu-pacific.webp" />
                    <img src="../../assets/gambar/maskapai-spring-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-myanmar-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-jetstar.webp" />
                    <img src="../../assets/gambar/maskapai-sichuan-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-transnusa-air.webp" />
                    <img src="../../assets/gambar/maskapai-lucky-air.webp" />
                    <img src="../../assets/gambar/maskapai-skymark-airlines.webp" />

                    <img src="../../assets/gambar/maskapai-aegean-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-mandarin-arilines.webp" />
                    <img src="../../assets/gambar/maskapai-air-france.webp" />
                    <img src="../../assets/gambar/maskapai-air-canada.webp" />
                    <img src="../../assets/gambar/maskapai-finnair.webp" />
                    <img src="../../assets/gambar/maskapai-avianca.webp" />
                    <img src="../../assets/gambar/maskapai-alaska-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-america-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-air-india.webp" />
                    <img src="../../assets/gambar/maskapai-british-airways.webp" />
                    <img src="../../assets/gambar/maskapai-air-asia.webp" />
                    <img src="../../assets/gambar/maskapai-jetblue-airways-corporation.webp" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="partner-container-card">
                    <img src="../../assets/gambar/maskapai-indigo.webp" />
                    <img src="../../assets/gambar/maskapai-wizz-air.webp" />
                    <img src="../../assets/gambar/maskapai-air-sarabia.webp" />
                    <img src="../../assets/gambar/maskapai-bbn-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-cebu-pacific.webp" />
                    <img src="../../assets/gambar/maskapai-spring-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-myanmar-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-jetstar.webp" />
                    <img src="../../assets/gambar/maskapai-sichuan-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-transnusa-air.webp" />
                    <img src="../../assets/gambar/maskapai-lucky-air.webp" />
                    <img src="../../assets/gambar/maskapai-skymark-airlines.webp" />

                    <img src="../../assets/gambar/maskapai-aegean-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-mandarin-arilines.webp" />
                    <img src="../../assets/gambar/maskapai-air-france.webp" />
                    <img src="../../assets/gambar/maskapai-air-canada.webp" />
                    <img src="../../assets/gambar/maskapai-finnair.webp" />
                    <img src="../../assets/gambar/maskapai-avianca.webp" />
                    <img src="../../assets/gambar/maskapai-alaska-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-america-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-air-india.webp" />
                    <img src="../../assets/gambar/maskapai-british-airways.webp" />
                    <img src="../../assets/gambar/maskapai-air-asia.webp" />
                    <img src="../../assets/gambar/maskapai-jetblue-airways-corporation.webp" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="partner-container-card">
                    <img src="../../assets/gambar/maskapai-indigo.webp" />
                    <img src="../../assets/gambar/maskapai-wizz-air.webp" />
                    <img src="../../assets/gambar/maskapai-air-sarabia.webp" />
                    <img src="../../assets/gambar/maskapai-bbn-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-cebu-pacific.webp" />
                    <img src="../../assets/gambar/maskapai-spring-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-myanmar-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-jetstar.webp" />
                    <img src="../../assets/gambar/maskapai-sichuan-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-transnusa-air.webp" />
                    <img src="../../assets/gambar/maskapai-lucky-air.webp" />
                    <img src="../../assets/gambar/maskapai-skymark-airlines.webp" />

                    <img src="../../assets/gambar/maskapai-aegean-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-mandarin-arilines.webp" />
                    <img src="../../assets/gambar/maskapai-air-france.webp" />
                    <img src="../../assets/gambar/maskapai-air-canada.webp" />
                    <img src="../../assets/gambar/maskapai-finnair.webp" />
                    <img src="../../assets/gambar/maskapai-avianca.webp" />
                    <img src="../../assets/gambar/maskapai-alaska-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-america-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-air-india.webp" />
                    <img src="../../assets/gambar/maskapai-british-airways.webp" />
                    <img src="../../assets/gambar/maskapai-air-asia.webp" />
                    <img src="../../assets/gambar/maskapai-jetblue-airways-corporation.webp" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="partner-container-card">
                    <img src="../../assets/gambar/maskapai-indigo.webp" />
                    <img src="../../assets/gambar/maskapai-wizz-air.webp" />
                    <img src="../../assets/gambar/maskapai-air-sarabia.webp" />
                    <img src="../../assets/gambar/maskapai-bbn-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-cebu-pacific.webp" />
                    <img src="../../assets/gambar/maskapai-spring-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-myanmar-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-jetstar.webp" />
                    <img src="../../assets/gambar/maskapai-sichuan-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-transnusa-air.webp" />
                    <img src="../../assets/gambar/maskapai-lucky-air.webp" />
                    <img src="../../assets/gambar/maskapai-skymark-airlines.webp" />

                    <img src="../../assets/gambar/maskapai-aegean-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-mandarin-arilines.webp" />
                    <img src="../../assets/gambar/maskapai-air-france.webp" />
                    <img src="../../assets/gambar/maskapai-air-canada.webp" />
                    <img src="../../assets/gambar/maskapai-finnair.webp" />
                    <img src="../../assets/gambar/maskapai-avianca.webp" />
                    <img src="../../assets/gambar/maskapai-alaska-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-america-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-air-india.webp" />
                    <img src="../../assets/gambar/maskapai-british-airways.webp" />
                    <img src="../../assets/gambar/maskapai-air-asia.webp" />
                    <img src="../../assets/gambar/maskapai-jetblue-airways-corporation.webp" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="partner-container-card">
                    <img src="../../assets/gambar/maskapai-easyjet.webp" />
                    <img src="../../assets/gambar/maskapai-taag-angola-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-delta-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-nokair.webp" />
                    <img src="../../assets/gambar/maskapai-copa-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-air-busan.webp" />
                    <img src="../../assets/gambar/maskapai-air-asia.webp" />
                    <img src="../../assets/gambar/maskapai-eva-air.webp" />
                    <img src="../../assets/gambar/maskapai-cebgo.webp" />
                    <img src="../../assets/gambar/maskapai-royal-brunei-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-emirates.webp" />
                    <img src="../../assets/gambar/maskapai-air-china.webp" />

                    <img src="../../assets/gambar/maskapai-china-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-blue-panorama-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-air-baltic-corporation.webp" />
                    <img src="../../assets/gambar/maskapai-aer-lingus.webp" />
                    <img src="../../assets/gambar/maskapai-china-sourthens-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-chondor.webp" />
                    <img src="../../assets/gambar/maskapai-air-arabia-egypt.webp" />
                    <img src="../../assets/gambar/maskapai-flybondi.webp" />
                    <img src="../../assets/gambar/maskapai-hawaiian-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-transavia.webp" />
                    <img src="../../assets/gambar/maskapai-ryanair.webp" />
                    <img src="../../assets/gambar/maskapai-flydubai.webp" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="partner-container-card">
                    <img src="../../assets/gambar/maskapai-air-asia.webp" />
                    <img src="../../assets/gambar/maskapai-flynas.webp" />
                    <img src="../../assets/gambar/maskapai-zhenshen-airlines.webp" />
                    <img src="../../assets/gambar/maskapai-air-premia.webp" />
                    <img src="../../assets/gambar/maskapai-super-air-jet.webp" />
                    <img src="../../assets/gambar/maskapai-pelita-air.webp" />
                    <img src="../../assets/gambar/maskapai-bamboo-airways.webp" />
                    <img src="../../assets/gambar/maskapai-aero-dili.webp" />
                    <img src="../../assets/gambar/maskapai-zipair-tokyo.webp" />
                    <img src="../../assets/gambar/maskapai-bbn-airlines.webp" />
                </div>
            </div>

        </div>
    </div>

</div>