<div class="container" style="min-height: 100vh;">
    <form method="get" action="../to-url/home.html" class="card card-auth m-auto p-3 rounded-3 col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4">
        <div class="card-header bg-transparent text-center">
            <h2 class="card-title"><i class="fas fa-user-circle"></i> Login</h2>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="username">Username : </label>
                <input type="text" name="username" id="username" class="w-100 p-2 border-0" placeholder="Air plane">
            </div>
            <div class="mb-1">
                <label for="password">Password : </label>
                <input type="password" name="password" id="password" class="w-100 p-2 border-0 fw-semibold" placeholder="******">
            </div>
            <p class="mb-3"><a href="#" class="text-muted lp">Lupa password</a></p>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary p-2 w-100">Login</button>
            </div>
            <p class="text-center">Belum memiliki akun? <a href="signup.html" class="text-muted">Daftar akun</a></p>
        </div>
    </form>
</div>