<div class="container rute-wrapper overflow-hidden mt-5">
    <div class="text-title">
        <h1 class="mb-3">Ke luar negeri lebih hemat? Bisaaa! </h1>
        <p>Yuk, serbu Brand Week untuk terbang hemat di rute internasional ini!</p>
        <div class="d-flex align-items-center gap-3 mb-3 flex-wrap">
            <button class="rounded-pill btn btn-info text-primary">China Airlines</button>
            <button class="rounded-pill btn btn-light">Qantas Airways</button>
            <button class="rounded-pill btn btn-light">Malaysia Airlanes</button>
            <button class="rounded-pill btn btn-light">SIngapore Airlanes</button>
            <button class="rounded-pill btn btn-light">Gaurda Indonesia</button>
        </div>
    </div>
    <div class="container-card">
        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Pulang Pergi</button>
                <img src="../../assets/gambar/Taipei.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Jakarta ⇆ Taipei</strong>
                <div><small class="text-secondary">6 Feb 25 - 20 Feb 25</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/china-icon.webp" width="10" height="10"/> China Airlines Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 5.562.300</strong></div>
            </div>
        </div>

        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Pulang Pergi</button>
                <img src="../../assets/gambar/tokyo.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Jakarta ⇆ Tokyo</strong>
                <div><small class="text-secondary">12 Feb 25 - 18 Mar 25</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/china-icon.webp" width="10" height="10"/> China Airlines Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 7.816.000</strong></div>
            </div>
        </div>

        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Pulang Pergi</button>
                <img src="../../assets/gambar/seoul.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Jakarta ⇆ Seoul</strong>
                <div><small class="text-secondary">12 Feb 25 - 20 Feb 25</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/china-icon.webp" width="10" height="10"/> China Airlines Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 7.741.000</strong></div>
            </div>
        </div>

        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Pulang Pergi</button>
                <img src="../../assets/gambar/new-york.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Jakarta ⇆ New York</strong>
                <div><small class="text-secondary">11 Apr 25 - 211 Apr 25</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/china-icon.webp" width="10" height="10"/> China Airlines Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 16.205.100</strong></div>
            </div>
        </div>

        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Pulang Pergi</button>
                <img src="../../assets/gambar/san-francisco.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Jakarta ⇆ San Francisco</strong>
                <div><small class="text-secondary">17 Mar 25 - 16 Apr 25</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/china-icon.webp" width="10" height="10"/> China Airlines Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 15446.600</strong></div>
            </div>
        </div>

        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Pulang Pergi</button>
                <img src="../../assets/gambar/vancouver.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Jakarta ⇆ Vancouver</strong>
                <div><small class="text-secondary">14 Feb 25 - 24 Feb 25</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/china-icon.webp" width="10" height="10"/> China Airlines Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 15.274.700</strong></div>
            </div>
        </div>
        
    </div>
</div>