<div class="container rute-wrapper overflow-hidden mt-5">
    <div class="text-title">
        <h1 class="mb-3">Beli Banyak Lebih Hemat</h1>
        <p>Beli 2 tiket atau lebih untuk dapatkan harga yang lebih hemat untuk rute-rute berikut ini.</p>
        <div class="d-flex align-items-center gap-3 mb-3 flex-wrap">
            <button class="rounded-pill btn btn-info text-primary">Sriwijaya Air</button>
            <button class="rounded-pill btn btn-light">Pelita Air</button>
            <button class="rounded-pill btn btn-light">Air Asia</button>
            <button class="rounded-pill btn btn-light">Jetstar</button>
            <button class="rounded-pill btn btn-light">Scoot</button>
        </div>
    </div>
    <div class="container-card">
        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Sekali Jalan</button>
                <img src="../../assets/gambar/tanjnu-pandan.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Jakarta -> Tanjun Pandan</strong>
                <div><small class="text-secondary">15 Des 24</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/sriwijaya-icon.webp" width="10" height="10"/> Sriwijaya Air Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 576.343</strong></div>
            </div>
        </div>

        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Sekali Jalan</button>
                <img src="../../assets/gambar/pangkal-pinang.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Jakarta -> Pangkalpinang</strong>
                <div><small class="text-secondary">15 Des 24</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/sriwijaya-icon.webp" width="10" height="10"/> Sriwijaya Air Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 1.120.309</strong></div>
            </div>
        </div>

        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Sekali Jalan</button>
                <img src="../../assets/gambar/makassar-jakarta.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Makassar -> Jakarta</strong>
                <div><small class="text-secondary">15 Des 24</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/sriwijaya-icon.webp" width="10" height="10"/> Sriwijaya Air Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 1.219.331</strong></div>
            </div>
        </div>

        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Sekali Jalan</button>
                <img src="../../assets/gambar/surabaya-makassar.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Surabaya -> Makassar</strong>
                <div><small class="text-secondary">15 Des 24</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/sriwijaya-icon.webp" width="10" height="10"/> Sriwijaya Air Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 1.321.397</strong></div>
            </div>
        </div>

        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Sekali Jalan</button>
                <img src="../../assets/gambar/jakarta-tanjungpandang.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Tanjung Pandan -> Jakarta</strong>
                <div><small class="text-secondary">15 Des 24</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/sriwijaya-icon.webp" width="10" height="10"/> Sriwijaya Air Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 620.515</strong></div>
            </div>
        </div>

        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Sekali Jalan</button>
                <img src="../../assets/gambar/jakarta-tanjungpandang.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Pangkalpinang -> Jakarta</strong>
                <div><small class="text-secondary">15 Des 24</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/sriwijaya-icon.webp" width="10" height="10"/> Sriwijaya Air Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 910.367</strong></div>
            </div>
        </div>


        <div class="card col-sm-5  col-6 col-lg-3">
            <div class="card-header border-0 position-relative">
                <button class="btn btn-light position-absolute top-0 start-0">Sekali Jalan</button>
                <img src="../../assets/gambar/tembagapura-timika.webp" class="card-image w-100">
            </div>
            <div class="card-body px-3 py-2">
                <strong>Jayapura -> Tembagapura Timika</strong>
                <div><small class="text-secondary">15 Des 24</small></div>
                <span class="d-flex gap-2 align-items-center pb-2" style="font-size: .8rem;">
                    <img src="../../assets/gambar/sriwijaya-icon.webp" width="10" height="10"/> Sriwijaya Air Ekonomi
                </span>
                <small class="text-secondary">Mulai dari</small>
                <div><strong class="text-danger btn p-0 pb-3 pt-1">IDR 983.414</strong></div>
            </div>
        </div>
        
    </div>
</div>