<div class="container py-3" style="min-height: 100vh;">
    <form method="get" action="../to-url/home.html" class="card card-auth m-auto p-3 rounded-3 col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4">
        <div class="card-header bg-transparent text-center">
            <h2 class="card-title"><i class="fas fa-user-circle"></i> SignUp</h2>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="username">Username : </label>
                <input type="text" name="username" id="username" class="w-100 p-2 border-0" placeholder="Air plane">
            </div>
            <div class="mb-3">
                <label for="password">Password : </label>
                <input type="password" name="password" id="password" class="w-100 p-2 border-0 fw-semibold" placeholder="******">
            </div>
            <div class="mb-3">
                <label for="password">Konfirmasi Password : </label>
                <input type="password" name="password" id="password" class="w-100 p-2 border-0 fw-semibold" placeholder="******">
            </div>
            <div class="mb-3 d-flex align-items-center justify-content-center gap-3">
                <div>
                    <label for="gender"><img src="../../assets/gambar/icon-man.gif"></label>
                    <input type="radio" name="gender" id="male" class="w-100 p-2 border-0 fw-semibold" placeholder="******">
                </div>
                <div>
                    <label for="gender"><img src="../../assets/gambar/icon-woman.gif"></label>
                    <input type="radio" name="gender" id="female" class="w-100 p-2 border-0 fw-semibold" placeholder="******">
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary p-2 w-100">Daftar</button>
            </div>
            <p class="text-center">Sudah memiliki akun? <a href="signin.html" class="text-muted">Masuk ke akun Anda</a></p>
        </div>
    </form>
</div>