<div id="footer" class="container" style="font-size: 85%;">
    <div class="footer-grid-up pt-4 justify-content-center">
        <div class="col">
            <div class="d-flex gap-2 mb-3">
                <img src="../../assets/gambar/logo.png" width="60px" height="60px"> <span class="fw-semibold fs-5">AirPlane.com</span>
            </div>
            <div class="d-flex d-lg-block align-items-center gap-2 container-hub">
                <div>
                    <div class="d-flex gap-2">
                        <img src="../../assets/gambar/icon-chat.webp" width="40" height="40">
                        <span>
                            <p class="mb-1 text-secondary fw-semibold">Whatsapp</p>
                            <p>+62 823 2126 1350</p>
                        </span>
                    </div>
                    <div class="d-flex gap-2">
                        <img src="../../assets/gambar/icon-email.webp" width="40" height="40">
                        <span>
                            <p class="mb-1 text-secondary fw-semibold">email</p>
                            <p>ahmadadptr@gmail.com</p>
                        </span>
                    </div>
                </div>
                <div class="d-flex gap-2">
                    <img src="../../assets/gambar/icon-pusat-panggilan.webp" width="40" height="40">
                    <span>
                        <p class="mb-1 text-secondary fw-semibold">Pusat Panggilan</p>
                        <div>
                            <p class="mb-0">Khusus Indonesia</p>
                            <p>+62 822 5678 0684</p>
                        </div>
                        <div>
                            <p class="mb-0">Internasional</p>
                            <p>+62 21 3973 0888</p>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="col d-none d-lg-block">
            <p class="fw-semibold">Perusahaan</p>
            <p><a href="#">Blog</a></p>
            <p><a href="#">Karier</a></p>
            <p><a href="#">Korporasi</a></p>
            <p><a href="#">Afiliasi</a></p>
            <p><a href="#">Blibli Tiket Rewards</a></p>
            <p><a href="#">Perlindungan</a></p>
            <p><a href="#">Cicilan</a></p>
        </div>
        <div class="col d-none d-lg-block">
            <p class="fw-semibold">Produk</p>
            <p><a href="#">Pesawat</a></p>
            <p><a href="#">Hotel</a></p>
            <p><a href="#">Vila & Apt.</a></p>
            <p><a href="#">To Do</a></p>
            <p><a href="#">Kereta</a></p>
            <p><a href="#">Bus & Travel</a></p>
            <p><a href="#">Ferry</a></p>
            <p><a href="#">Sewa Mobil</a></p>
            <p><a href="#">Event</a></p>
        </div>

        <!-- element ini akan muncul ketika ukuran layar < large (lg) -->
        <div class="d-lg-none d-flex flex-nowrap gap-2">
            <div class="col">
                <p class="fw-semibold">Perusahaan</p>
                <p><a href="#">Blog</a></p>
                <p><a href="#">Karier</a></p>
                <p><a href="#">Korporasi</a></p>
                <p><a href="#">Afiliasi</a></p>
                <p><a href="#">Blibli Tiket Rewards</a></p>
                <p><a href="#">Perlindungan</a></p>
                <p><a href="#">Cicilan</a></p>
            </div>
            <div class="col">
                <p class="fw-semibold">Produk</p>
                <p><a href="#">Pesawat</a></p>
                <p><a href="#">Hotel</a></p>
                <p><a href="#">Vila & Apt.</a></p>
                <p><a href="#">To Do</a></p>
                <p><a href="#">Kereta</a></p>
                <p><a href="#">Bus & Travel</a></p>
                <p><a href="#">Ferry</a></p>
                <p><a href="#">Sewa Mobil</a></p>
                <p><a href="#">Event</a></p>
            </div>
        </div>


        <div class="col d-none d-lg-block">
            <p class="fw-semibold">Dukungan</p>
            <p><a href="#">Pusat Bantuan</a></p>
            <p><a href="#">Group Booking</a></p>
            <p><a href="#">Kebijakan Privasi</a></p>
            <p><a href="#">Syarat dan Ketentuan</a></p>
            <p><a href="#">Daftarkan Hotel Kamu</a></p>
            <p><a href="#">Daftarkan Aktivitas/Event Kamu</a></p>
            <p><a href="#">Tiket CLEAN</a></p>
            <P><a href="#">Tiket FLEXI</a></P>
        </div>
        
        <div class="col d-none d-lg-block">
            <P class="fw-semibold">Lebih Murah di Aplikasi</P>
            <div>
                <a href="#"><img src="../../assets/gambar/icon-appstore.webp" class="w-100"></a>
                <a href="#"><img src="../../assets/gambar/icon-google-playstore.webp" class="w-100 mt-3"></a>
            </div>
        </div>

        <!-- element ini akan muncul ketika ukuran layar < large (lg) -->
        <div class="d-flex flex-nowrap gap-2 d-lg-none container-app">
            <div class="col">
                <p class="fw-semibold">Dukungan</p>
                <p><a href="#">Pusat Bantuan</a></p>
                <p><a href="#">Group Booking</a></p>
                <p><a href="#">Kebijakan Privasi</a></p>
                <p><a href="#">Syarat dan Ketentuan</a></p>
                <p><a href="#">Daftarkan Hotel Kamu</a></p>
                <p><a href="#">Daftarkan Aktivitas/Event Kamu</a></p>
                <p><a href="#">Tiket CLEAN</a></p>
                <P><a href="#">Tiket FLEXI</a></P>
            </div>
            <div class="col">
                <P class="fw-semibold">Lebih Murah di Aplikasi</P>
                <div>
                    <a href="#"><img src="../../assets/gambar/icon-appstore.webp" class="w-50"></a>
                    <a href="#"><img src="../../assets/gambar/icon-google-playstore.webp" class="w-50 mt-3"></a>
                </div>
            </div>
        </div>

    </div>

    <div class="footer-copyright container py-3 text-secondary">
        <p>&copy; AirPlane, 2025 - 2026 . All Rights Reversed.</p>
    </div>
</div>