<nav class="bg-transparent p-4 navbar navbar-expand-lg">
    <div class="container px-3">
        <a href="/airplane" class="navbar-brand">
            <img src="../../assets/gambar/logo.png" alt="logo-brand" width="70" height="70"
                style="object-fit: contain;">
            Air<span>Plane</span>
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav px-lg-3 px-5 pb-5 pt-lg-0 pb-lg-0">
                <li class="nav-item"><a href="#" class="nav-link active">Beranda</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Jadi Partner AirPlane.com</a></li>
                <li class="nav-item"><a href="#" class="nav-link">AirPlane Tiket Rewards</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Ceo AirPlane</a></li>
            </ul>
        </div>
    </div>
</nav>