<nav class="bg-transparent p-4 navbar navbar-expand-lg">
    <div class="container px-3">
        <a href="/airplane" class="navbar-brand">
            <img src="../../assets/gambar/logo.png" alt="logo-brand" width="70" height="70"
                style="object-fit: contain;">
            Air<span>Plane</span>
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav px-3 pb-5 pt-lg-0 pb-lg-0">
                <li class="nav-item"><a href="home.html" class="nav-link active">Beranda</a></li>
                <li class="nav-item">
                    <a href="#modal-partner" data-bs-toggle="modal" class="nav-link">
                        <i class="fas fa-hand-holding-heart"></i> Jadi PartnerAirPlane.com
                    </a>
                </li>
                <li class="nav-item"><a href="rewards.html" class="nav-link">AirPlane Tiket Rewards</a></li>
                <li class="nav-item"><a href="ceo.html" class="nav-link">Ceo AirPlane</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="modal-partner" class="modal fade" tabindex="-1" style="z-index: 99999999999999;">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content p-3">
            <div class="modal-header p-4">
                <p class="mb-0 me-auto fw-bold fs-5">Yuk jadi partner AirPlane.com!</p>
                <button class="btn btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body" style="font-size: 85%;">
                <p>Gabung dan dapetin peluang menyambut lebih banyak tamu untuk usahamu. Daftarkan hotel, villa, resort, sampai ke aktivitas dan eventmu untuk nikmati keuntungannya.</p>
                <div class="d-grid gap-2">
                    <div class="p-3 border d-flex gap-2">
                        <img src="../../assets/gambar/icon-kelola-dengan-mudah.jfif" width="30" height="30">
                        <div>
                            <p class="mb-1"><strong>Kelola dengan mudah</strong></p>
                            <p>Atur harga, pesanan, dan buat promo lewat platform khusus untukmu.</p>
                        </div>
                    </div>
                    <div class="p-3 border d-flex gap-2">
                        <img src="../../assets/gambar/market-manager.webp" width="30" height="30">
                        <div>
                            <p class="mb-1"><strong>Market Manager</strong></p>
                            <p>Layanan Personal Market Manager akan membantumu mengelola usaha.</p>
                        </div>
                    </div>
                    <div class="p-3 border d-flex gap-2">
                        <img src="../../assets/gambar/icon-pemasaran-luas.jfif" width="30" height="30">
                        <div>
                            <p class="mb-1"><strong>Pemasaran luas</strong></p>
                            <p>Usahamu akan dipasarkan ke jutaan pengguna tiket.com.</p>
                        </div>
                    </div>
                </div>

                <p class="my-3">Mulai sekarang dengan proses registrasi yang mudah dan cepat!</p>
                <div class="d-grid gap-2">
                    <div class="p-3 border d-flex gap-2">
                        <img src="../../assets/gambar/icon-gedung.jfif" width="30" height="30">
                        <div>
                            <p class="mb-1"><strong>Hotel</strong></p>
                            <p>Hotel domestik & internasional.</p>
                        </div>
                    </div>
                    <div class="p-3 border d-flex gap-2">
                        <img src="../../assets/gambar/icon-to-do.jfif" width="30" height="30">
                        <div>
                            <p class="mb-1"><strong>To do</strong></p>
                            <p>Atraksi, event, dan aktivitas seru lainnya.</p>
                        </div>
                    </div>
                    <div class="p-3 border d-flex gap-2">
                        <img src="../../assets/gambar/icon-vila-apt.jfif" width="30" height="30">
                        <div>
                            <p class="mb-1"><strong>Vila dan apt.</strong></p>
                            <p>Atraksi, event, dan aktivitas seru lainnya.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>