@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --color-linear-1: #4facfe;
    --color-lienar-2: #00f2fe;
}


html,
body {
    width: 100%;
    height: 100%;
    font-family: system-ui;
}

body {
    background: linear-gradient(122deg, #aba6f100 0%, #9acaffe0 23%, #c300ff4b 100%) no-repeat center;
    background-size: contain;
    background-attachment: fixed;
}

nav * {
    transition: .5s ease-in-out !important;
}

nav .container {
    border-radius: 50rem;
    background: white;
}

.navbar-collapse.show ul {
    transition: none !important;
    /* flex-direction: row; */
}

.navbar-collapse.show .navbar-nav li {
    padding: 2px 7px;
    margin-top: 1rem;
    border-radius: 0 50rem 50rem 0;
    background: linear-gradient(-122deg, #aba6f100 0%, #9acbff50 23%, #c300ff2d 100%);
}

.rute-wrapper {
    transform: scale(.5);
    animation: scrolling forwards;
    animation-timeline: view(5%);
    transition: .5s forwards !important;
}

@keyframes scrolling {
    to {
        transform: scale(1);
    }
}

.offcanvas.offcanvas-end {
    z-index: 9999999999999999999999;
    transition: .5s ease-in-out !important;
}

.offcanvas-header div button {
    font-size: .7rem;
}

.btn-menu-offcanvas {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 2rem;
    bottom: 2rem;
    z-index: 99999999;
}

#dot-background,
#dot-background2 {
    width: 250px;
    height: 250px;
    object-fit: contain;
    z-index: -1;
}

#dot-background {
    top: 2rem;
    right: 0;
}

#dot-background2 {
    bottom: 0;
    left: 0;
}

.hero-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

@media (max-width: 420px) {
    .dot {
        width: 200px;
        height: 200px;
    }

    #dot-background2 {
        bottom: 6rem;
    }
}

@media (max-width: 768px) {
    .hero-home {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 4rem !important;
    }
}

@media (min-width: 768px) {
    .hero-home {
        grid-template-columns: 1fr 1.5fr;
    }

    .hero-ceo-2 {
        grid-template-columns: 1.5fr 1fr !important;
    }
}

.container-card {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    overflow-x: auto;
}

.container-card::-webkit-scrollbar {
    display: none;
}

@media (max-width: 330px) {
    .container-card .card-body {
        font-size: 80%;
    }
}

@media (min-width: 330px) {
    .container-card .card-body {
        font-size: 90%;
    }
}

.carousel-item .partner-container-card {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(2, 1fr);
}

.carousel-item .partner-container-card img {
    width: 45px;
    height: 45px;
    display: block;
    object-fit: contain;
}

.carousel-indicators {
    background-color: #F8F9FA;
    border-radius: .2rem;
    padding: .2rem 1rem;
}

.carousel-indicators button {
    width: 5px !important;
    height: 5px !important;
    border-radius: 50% !important;
    background-color: #44b4ff !important;
}

.carousel-indicators button.active {
    width: 10px !important;
    border-radius: 50rem !important;
}

@media (min-width: 768px) {
    .carousel-item .partner-container-card {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .carousel-item .partner-container-card img {
        width: 30px;
        height: 30px;
        grid-template-columns: repeat(8, 1fr);
    }

    .carousel-item .partner-container-card {
        grid-template-columns: repeat(12, 1fr);
    }
}

#fitur-lainnya {
    display: grid !important;
    padding: 3rem;
    gap: 1.3rem;
}

#fitur-lainnya .card {
    border-radius: .5rem;
    background: linear-gradient(122deg, transparent, #ffffff7c);
}

#fitur-lainnya .card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    background: #ffffff7c;
}

#fitur-lainnya .card-body p:nth-child(2) {
    font-size: .9rem;
}

@media (max-width: 576px) {
    #fitur-lainnya {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    #fitur-lainnya {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    #fitur-lainnya {
        grid-template-columns: repeat(3, 1fr);
    }
}

#footer {
    overflow-x: hidden !important;
}

#footer .col {
    line-height: 1.2rem !important;
}

#footer .col a {
    text-decoration: none !important;
}

.footer-grid-up {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px dashed #cccccc;
}

@media (max-width: 992px) {
    .footer-grid-up {
        grid-template-columns: repeat(1, 1fr);
        border: none;
    }

    .container-hub,
    .container-app {
        margin-bottom: .7rem;
        border-bottom: 1px dashed #cccccc;
    }

}

.modal-container form i {
    color: #464646;
}

.modal-container form input {
    background: transparent;
    border: 0;
}

.modal-container form input::placeholder {
    color: #464646;
}

.modal-container form input:focus {
    outline: none;
}

.modal {
    z-index: 9999999999999999999999999999999999999999999999 !important;
}

#balon-chat {
    border-radius: 5rem .5rem 5rem .5rem !important;
    background-color: #a4bfee8e !important;
}

#balon-chat-2 {
    border-radius: .5rem 5rem .5rem 5rem !important;
    background-color: #a4bfee8e !important;
}

#balon-chat::before, #balon-chat-2::before {
    content: '';
    position: absolute;
    border-width: 20px;
    top: 5px;
    border-style: solid;
}

#balon-chat::before {
    right: -38px;
    border-color: transparent transparent transparent #a4bfee8e;
}

#balon-chat-2::before {
    left: -38px;
    border-color: transparent #a4bfee8e transparent transparent;
}

@media (max-width: 768px) {
    #balon-chat, #balon-chat-2 {
        border-radius: .5rem !important;
    }
    #balon-chat::before {
        border-color: #a4bfee8e transparent transparent transparent;
        right: calc(80%);
        top: calc(100%);
    }

    #balon-chat-2::before {
        border-color: transparent transparent #a4bfee8e transparent;
        left: calc(10%);
        top: -38px;
    }
}

.container-card-rewards {
    display: grid;
}

@media (min-width: 576px) {
    #modal-partner div.d-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 576px) {
    .container-card-rewards {
        grid-template-columns: repeat(1, 1fr);
    }
    #modal-partner div.d-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 768px) {
    .container-card-rewards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .container-card-rewards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.container-card-rewards div.rounded-3 {
    padding: 1rem;
    background: linear-gradient(122deg,  #ffffff34, #ffffff6b, #ffffff34);
}

.container-card-rewards .card {
    background: linear-gradient(122deg, #0000ffcc, #36a5ff, #36a5ff);
}

.container-card-rewards .card-body {
    border-radius: .3rem;
}

.text-alert {
    font-size: 90%;
}

.bg-box-prize {
    background: url(../gambar/drop-prize.svg) no-repeat right fixed !important;
}